{% extends "Portfolio/index.html" %}
{% load static %}
{% block content %}
<div class="container-projects">
	<h3 class="me">
		University Department Management System
	</h3>
	<p class="metoo">
		The UDIS is a webapp made using Flask and Flask SqlAlchemy for the database.
	</p>
</div>
<div class="container-projects">
	<h3 class="me">
		Competitive Search Engine
	</h3>
	<p class="metoo">
		The UDIS is a webapp made using Flask and Flask SqlAlchemy for the database.
	</p>
</div>
<div class="container-projects">
	<h3 class="me">
		A2J ladders webapp
	</h3>
	<p class="metoo">
		The UDIS is a webapp made using Flask and Flask SqlAlchemy for the database.
	</p>
</div>
{% endblock %}