{% extends "Portfolio/index.html" %}
{% block content %}
<div class="container">
	<div class="heading">Curriculum Vitae</div>
	<div class="resume_box">Full Stack Developer</div>
	<div class="row">
		<div class="col-6">
			<h3 class="me">Experiences</h3>
			<ul>
				<li><h7 class="metoo">University Dpepartment Management system</h7>
					<p>all about UDIS</p></li>
				<li><h7 class="metoo">Competitive Programming question Search Engine</h7><p>all about UDIS</p></li>
				<li><h7 class="metoo">A Basic Social Media app</h7><p>all about UDIS</p></li>
			</ul>
		</div>
		<div class="col-6">
			<h3 class="me">Education</h3>
			<ul>
				<li><h7 class="metoo">Indian Institute of Technology, Kharagpur</h7></li>
				<li><h7 class="metoo">KN Memorial Academy, Munger</h7></li>
				<li><h7 class="metoo">Saraswati Vidya Mandir, Munger</h7></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<h3 class="me">Technical Expertise</h3>
			<ul>
				<li><h7 class="metoo">Programming languages</h7>
					<p>C/C++/| java| Python</p></li>
				<li><h7 class="metoo">Python Libraries</h7><p>Numpy, Pandas, MatplotLib, Seaborn</p></li>
				<li><h7 class="metoo">Softwares Skills</h7><p>Fusion 360/Autocad | Microsoft Office | Photoshop Open-source programming</p></li>
			</ul>
		</div>
		<div class="col-6">
			<h3 class="me">Awards and Achievements</h3>
			<ul>
				<li><h7 class="metoo">Secured AIR 460 in Kishore Vaigyanik Protsahan Yojana (KVPY) 2017.</h7></li>
				<li><h7 class="metoo">Qualified NTSE national level 2017.</h7></li><li><h7 class="metoo">Secured top 1% in National Standard Examination for Chemistry 2018.</h7></li><li><h7 class="metoo">Secured top 1% in National Standard Examination for Astronomy 2017.</h7></li><li><h7 class="metoo">Qualified CBSE Regional Science Exhibition 2016</h7></li><li><h7 class="metoo">Qualified Regional Mathematics Olympiad 2017.</h7></li><li><h7 class="metoo">Secured a position in top 0.5% (All India Rank - 1029) in the Joint Entrance Examination
 				(JEE) Advanced, 2019.</h7></li>
 				<li><h7 class="metoo">Got 2rd position in the General Championship in Cartooning Workshop held on our Campus.</h7></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<h3 class="me">Skills</h3>
			<ul>
				<li><h7 class="metoo">HTML</h7></li>
				<li><h7 class="metoo">CSS</h7></li>
				<li><h7 class="metoo">JS</h7></li>
				<li><h7 class="metoo">Python</h7></li>
			</ul>
		</div>
		<div class="col-9">
			<div class="progress">
			<div class="progress-bar" role="progressbar" style="width: 25%; background: #4A92BF;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 50%; background: #4A92BF;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 75%; background: #4A92BF;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 100%; background: #4A92BF;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
	</div>

</div>
{% endblock content %}